<f:layout name="Default" />

<f:section name="content">
	<h3>Datum der letzten Aktualisierung: <f:format.date format="d.m.Y">{dateOfLastUpdate}</f:format.date></h3>
	<table>
		<thead>
			<tr>
				<th>Platz</th>
				<th>Name</th>
				<th>letzte Auswertung</th>
				<th>DWZ</th>
				<th>ELO</th>
				<f:comment><th>FIDE-Titel</th></f:comment>
			</tr>
		</thead>
		<tbody>
			<f:for each="{members}" as="member" iteration="iterator">
				<tr>
					<td>{iterator.cycle}.</td>
					<td><f:link.action action="show" arguments="{pkz: member.id, dateOfLastUpdate: member.turnierende}">{member.nachname}, {member.titel} {member.vorname}</f:link.action><f:if condition="{member.status}"> ({member.status})</f:if></td>
					<f:comment><td>{member.gender}</td></f:comment>
					<f:comment><td>{member.birthYear}</td></f:comment>
					<td><f:format.date format="d.m.Y">{member.turnierende}</f:format.date></td>
					<td>{member.dwz}<f:if condition="{member.dwzindex}"> - {member.dwzindex}</f:if></td>
					<td>{member.fideelo}</td>
					<f:comment><td>{member.fidetitel}</td></f:comment>
				</tr>
			</f:for>
		</tbody>
	</table>
</f:section>