<f:layout name="Default" />

<f:section name="content">
	<h3>Karteikarte von {member.name}</h3>
	ZPS: {member.zps}<br />
	<f:if condition="{member.fideTitle}">FIDE Titel: {member.fideTitle}<br /></f:if>
	<f:if condition="{member.birthYear}">Geburtsjahr: {member.birthYear}<br /></f:if>
	Geschlecht: {f:if(condition: '{0:member.gender} == {0:"M"}', then: 'Männlich', else: 'Weiblich')}<br />
	Letze Auswertung: {member.yearOfLastEvaluation} - {member.weekOfLastEvaluation}<br />
	DWZ: {member.dwz} - {member.dwzIndex}<br />
	<f:if condition="{elo.elo}">ELO: {elo.elo}<br /></f:if>
	<f:if condition="{elo.gams}">Spiele: {elo.games}<br /></f:if>
	<f:comment><f:if condition="{elo.title}">Titel: {elo.title}<br /></f:if></f:comment>
	<f:if condition="{elo.id}"><f:link.external uri="http://ratings.fide.com/card.phtml?event={elo.id}">FIDE Profil</f:link.external><br /></f:if>
	<f:if condition="{elo.country}">Nationalität: {elo.country}</f:if>
	<table>
		<thead>
			<tr>
				<th>Nr</th>
				<f:comment><th>Turniercode</th></f:comment>
				<th>Turnier</th>
				<th>Punkte</th>
				<th>Partien</th>
				<th>Erwartungswert</th>
				<th>Gegner</th>
				<th>Leistung</th>
				<th>DWZ</th>
			</tr>
		</thead>
		<tbody>
			<f:for each="{tournaments}" as="tournament">
				<tr>
					<td>{tournament.entryNumber}</td>
					<f:comment><td>{tournament.tournamentCode}</td></f:comment>
					<td>{tournament.tournamentName}</td>
					<td>{tournament.points}</td>
					<td>{tournament.games}</td>
					<td>{tournament.expectedValue}</td>
					<td>{tournament.opponents}</td>
					<td>{tournament.performance}</td>
					<td>{tournament.dwz} - {tournament.dwzIndex}</td>
				</tr>	
			</f:for>
		</tbody>
	</table>
</f:section>
