<f:layout name="Default"/>

<f:section name="content">

	<f:if condition="{settings.hideGraph} == 0">

		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

		<script type="text/javascript">
			<![CDATA[

			var graph;
			var xPadding = 40;
			var yPadding = 30;

			]]>
			var data = {graphData->f:format.raw()};
			var graphColor = '{settings.graphColor->f:format.raw()}';
			<![CDATA[

			function getMaxY() {
				var max = 0;

				for (var i = 0; i < data.values.length; i++) {
					if (data.values[i].Y > max) {
						max = data.values[i].Y;
					}
				}

				max += 120 - max % 100;
				return max;
			}

			function getMinY() {
				var min = 65536;

				for (var i = 0; i < data.values.length; i++) {
					if (data.values[i].Y < min) {
						min = data.values[i].Y;
					}
				}

				min -= min % 100;
				return min;
			}

			function getXPixel(val) {
				return ((graph.width() - xPadding) / data.values.length) * val + xPadding;
			}

			function getYPixel(val) {
				return graph.height() - (((graph.height() - yPadding) / (getMaxY() - getMinY())) * (val - getMinY())) - yPadding;
			}

			$(document).ready(function () {
				graph = $('#graph');
				var c = graph[0].getContext('2d');

				c.lineWidth = 2;
				c.strokeStyle = '#333';
				c.font = 'italic 8pt sans-serif';
				c.textAlign = "center";

				c.beginPath();
				c.moveTo(xPadding, 0);
				c.lineTo(xPadding, graph.height() - yPadding);
				c.lineTo(graph.width(), graph.height() - yPadding);
				c.stroke();

				for (var i = 0; i < data.values.length; i++) {
					if ((data.values[i].X) % 5 == 0) {
						c.fillText(data.values[i].X, getXPixel(i), graph.height() - yPadding + 20);
					}
				}

				c.textAlign = "right"
				c.textBaseline = "middle";

				for (var i = getMinY(); i < getMaxY(); i += 50) {
					c.fillText(i, xPadding - 10, getYPixel(i));
				}

				c.strokeStyle = graphColor;
				c.beginPath();
				c.moveTo(getXPixel(0), getYPixel(data.values[0].Y));

				for (var i = 1; i < data.values.length; i++) {
					c.lineTo(getXPixel(i), getYPixel(data.values[i].Y));
				}
				c.stroke();

				c.fillStyle = '#333';

				for (var i = 0; i < data.values.length; i++) {
					c.beginPath();
					c.arc(getXPixel(i), getYPixel(data.values[i].Y), 4, 0, Math.PI * 2, true);
					c.fill();
				}
			});
			]]>
		</script>
	</f:if>

	<h3>Karteikarte von {spieler.nachname}, {spieler.titel} {spieler.vorname}</h3>
	<f:if condition="{member.fideTitle}">FIDE Titel: {member.fideTitle}<br/></f:if>
	Letze Auswertung: <f:format.date format="d.m.Y">{dateOfLastUpdate}</f:format.date><br/>
	DWZ: {spieler.dwz}<f:if condition="{spieler.dwzindex}"> - {spieler.dwzindex}</f:if><br/>
	<f:if condition="{spieler.fideelo}">ELO: {elo.elo}<br/></f:if>
	<f:comment>
		<f:if condition="{elo.title}">Titel: {elo.title}<br/></f:if>
	</f:comment>
	<f:if condition="{elo.id}">
		<f:link.external uri="http://ratings.fide.com/card.phtml?event={elo.id}">FIDE Profil</f:link.external>
		<br/></f:if>
	<f:if condition="{elo.country}">Nationalität: {elo.country}</f:if>
	Historie: <f:link.external uri="http://altdwz.schachbund.de/db/spieler.html?zps={mitgliedschaft.0.zpsver}-{mitgliedschaft.0.zpsmgl}">Alte Karteikarte</f:link.external>
	<table>
		<thead>
		<tr>
			<th>Nr</th>
			<f:comment><th>Turniercode</th></f:comment>
			<th>Turnier</th>
			<th>Punkte</th>
			<th>Partien</th>
			<th>Erwartungswert</th>
			<th>Gegner</th>
			<th>Leistung</th>
			<th>DWZ</th>
		</tr>
		</thead>
		<tbody>
		<f:for each="{turniere}" as="turnier" iteration="iterator">
			<tr>
				<td>{iterator.cycle}</td>
				<f:comment><td>{turnier.turniercode}</td></f:comment>
				<td>{turnier.turniername}</td>
				<td>{turnier.punkte}</td>
				<td>{turnier.partien}</td>
				<td>{turnier.erwartungswert}</td>
				<td>{turnier.gegner}</td>
				<td>{turnier.leistung}</td>
				<td>{turnier.dwzneu} - {turnier.dwzneuindex}</td>
			</tr>
		</f:for>
		</tbody>
	</table>

	<f:if condition="{settings.hideGraph} == 0">
		<canvas id="graph" width="600" height="400"></canvas>
	</f:if>

</f:section>