<f:layout name="Default"/>

<f:section name="content">

	<f:if condition="{settings.hideGraph} == 0">

		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

		<script type="text/javascript">
			<![CDATA[

			var graph;
			var xPadding = 40;
			var yPadding = 30;

			]]>
			var dwzGraphData = {dwzGraphData->f:format.raw()};
			var performanceGraphData = {performanceGraphData->f:format.raw()}
			var dwzGraphColor = '{settings.dwzGraphColor->f:format.raw()}';
			var performanceGraphColor = '{settings.performanceGraphColor->f:format.raw()}';
			<![CDATA[

			function getMaxY() {
				var max = 0;

				for (var i = 0; i < dwzGraphData.values.length; i++) {
					if (dwzGraphData.values[i].Y > max) {
						max = dwzGraphData.values[i].Y;
					}
				}

				for (var i = 0; i < performanceGraphData.values.length; i++) {
					if (performanceGraphData.values[i].Y > max) {
						max = performanceGraphData.values[i].Y;
					}
				}

				max += 120 - max % 100;
				return max;
			}

			function getMinY() {
				var min = 65536;

				for (var i = 0; i < dwzGraphData.values.length; i++) {
					if (dwzGraphData.values[i].Y < min) {
						min = dwzGraphData.values[i].Y;
					}
				}

				for (var i = 0; i < performanceGraphData.values.length; i++) {
					if (performanceGraphData.values[i].Y < min) {
						min = performanceGraphData.values[i].Y;
					}
				}

				min -= min % 100;
				return min;
			}

			function getXPixel(val) {
				return ((graph.width() - xPadding) / dwzGraphData.values.length) * val + xPadding;
			}

			function getYPixel(val) {
				return graph.height() - (((graph.height() - yPadding) / (getMaxY() - getMinY())) * (val - getMinY())) - yPadding;
			}

			function getCorrespondingPos(val) {
				var tmp = performanceGraphData.values[val].X;
				var i;
				for(i = 0; i < dwzGraphData.values.length; ++i) {
					if (dwzGraphData.values[i].X == tmp) {
						break;
					}
				}
				return i;
			}

			$(document).ready(function () {
				graph = $('#graph');
				var c = graph[0].getContext('2d');

				c.lineWidth = 2;
				c.strokeStyle = '#333';
				c.font = 'italic 8pt sans-serif';
				c.textAlign = "center";

				c.beginPath();
				c.moveTo(xPadding, 0);
				c.lineTo(xPadding, graph.height() - yPadding);
				c.lineTo(graph.width(), graph.height() - yPadding);
				c.stroke();

				for (var i = 0; i < dwzGraphData.values.length; i++) {
					if ((dwzGraphData.values[i].X) % 5 == 0) {
						c.fillText(dwzGraphData.values[i].X, getXPixel(i), graph.height() - yPadding + 20);
					}
				}

				c.textAlign = "right"
				c.textBaseline = "middle";

				for (var i = getMinY(); i < getMaxY(); i += 50) {
					c.fillText(i, xPadding - 10, getYPixel(i));
				}

				c.textAlign = "left"
				c.strokeStyle = dwzGraphColor;
				c.beginPath();
				c.moveTo(graph.width() - 100, graph.height() - 60);
				c.lineTo(graph.width() - 50, graph.height() - 60);
				c.stroke();
				c.beginPath();
				c.arc(graph.width() - 75, graph.height() - 60, 4, 0, Math.PI * 2, true);
				c.fill();
				c.fillText("DWZ", graph.width() - 45, graph.height() - 60);

				c.strokeStyle = performanceGraphColor;
				c.beginPath();
				c.moveTo(graph.width() - 100, graph.height() - 45);
				c.lineTo(graph.width() - 50, graph.height() - 45);
				c.stroke();
				c.beginPath();
				c.arc(graph.width() - 75, graph.height() - 45, 4, 0, Math.PI * 2, true);
				c.fill();
				c.fillText("Leistung", graph.width() - 45, graph.height() - 45);

				c.strokeStyle = dwzGraphColor;
				c.beginPath();
				c.moveTo(getXPixel(0), getYPixel(dwzGraphData.values[0].Y));

				for (var i = 1; i < dwzGraphData.values.length; i++) {
					c.lineTo(getXPixel(i), getYPixel(dwzGraphData.values[i].Y));
				}
				c.stroke();

				c.fillStyle = '#333';

				for (var i = 0; i < dwzGraphData.values.length; i++) {
					c.beginPath();
					c.arc(getXPixel(i), getYPixel(dwzGraphData.values[i].Y), 4, 0, Math.PI * 2, true);
					c.fill();
				}

				c.strokeStyle = performanceGraphColor;
				c.beginPath();
				c.moveTo(getXPixel(getCorrespondingPos(0)), getYPixel(performanceGraphData.values[0].Y));

				for (var i = 1; i < performanceGraphData.values.length; i++) {
					c.lineTo(getXPixel(getCorrespondingPos(i)), getYPixel(performanceGraphData.values[i].Y));
				}
				c.stroke();

				c.fillStyle = '#333';

				for (var i = 0; i < performanceGraphData.values.length; i++) {
					c.beginPath();
					c.arc(getXPixel(getCorrespondingPos(i)), getYPixel(performanceGraphData.values[i].Y), 4, 0, Math.PI * 2, true);
					c.fill();
				}
			});
			]]>
		</script>
	</f:if>

	<h3>Karteikarte von {spieler.nachname}, {spieler.titel} {spieler.vorname}</h3>
	<f:if condition="{spieler.fidetitel}">FIDE Titel: {spieler.fidetitel}<br/></f:if>
	Letze Auswertung: <f:format.date format="d.m.Y">{dateOfLastUpdate}</f:format.date><br/>
	DWZ: {spieler.dwz}<f:if condition="{spieler.dwzindex}"> - {spieler.dwzindex}</f:if><br/>
	<f:if condition="{spieler.fideelo}">ELO: {spieler.fideelo}<br/></f:if>
	<f:if condition="{spieler.fideid}">
		<f:link.external uri="http://ratings.fide.com/card.phtml?event={spieler.fideid}">FIDE Profil</f:link.external>
		<br/></f:if>
	<f:if condition="{spieler.fidenation}">Nationalität: {spieler.fidenation}<br /></f:if>
	Historie: <f:link.external uri="http://altdwz.schachbund.de/db/spieler.html?zps={mitgliedschaft.0.zpsver}-{mitgliedschaft.0.zpsmgl}">Alte Karteikarte</f:link.external><br />

	Ranglisten Platzierungen:
	<table>
		<thead>
		<tr>
			<th>Verband / Verein</th>
			<th>Platz</th>
		</tr>
		</thead>
		<tbody>
			<f:for each="{rang}" as="r">
				<tr>
					<td><f:link.action action="list" arguments="{zps: r.zpsver}">{r.organisation}</f:link.action></td>
					<td>{r.rang}</td>
				</tr>
			</f:for>
		</tbody>
	</table>

	<table>
		<thead>
		<tr>
			<th>Nr</th>
			<f:comment><th>Turniercode</th></f:comment>
			<th>Turnier</th>
			<th>Punkte</th>
			<th>Partien</th>
			<th>Erwartungswert</th>
			<th>Gegner</th>
			<th>Leistung</th>
			<th>DWZ</th>
		</tr>
		</thead>
		<tbody>
		<f:for each="{turniere}" as="turnier" iteration="iterator">
			<tr>
				<td>{iterator.cycle}</td>
				<f:comment><td>{turnier.turniercode}</td></f:comment>
				<td>{turnier.turniername}</td>
				<td>{turnier.punkte}</td>
				<td>{turnier.partien}</td>
				<td>{turnier.erwartungswert}</td>
				<td>{turnier.gegner}</td>
				<td>{turnier.leistung}</td>
				<td>{turnier.dwzneu} - {turnier.dwzneuindex} [{f:if(condition: '{turnier.dwzchange} > 0', then: '+')}{turnier.dwzchange}]</td>
			</tr>
		</f:for>
		</tbody>
	</table>

	<f:if condition="{settings.hideGraph} == 0">
		<canvas id="graph" width="600" height="400"></canvas>
	</f:if>

</f:section>
